.custom-container{
	margin-top: 6rem;
	max-width: 350px;
	padding: 20px 20px 25px 20px;
}
.title-form{
	margin-bottom: 20px;
}
.input-captcha{
	position: relative;
}
.icon{
	width: 32px;
	height: 32px;
	background-image: url('');
	position: absolute;
	right: 10px;
	top: 3px;
}