*{
	padding: 0;
	margin: 0;
}
body{
	display: flex;
	background-color: #f3f3f5;
}
#sidebar{
	display: flex;
	flex-direction: column;
	background-color: #2f4050;
	width: 220px;
}
.user_field{
	background-color: #273a49;
	height: 155px;
}
.content_sidebar{
	flex: 1;
}
.content{
	flex: 1;
	display: flex;
	flex-direction: column;
}
.top{
	display: flex;
	height: 30px;
	padding: 15px 20px;
	background-color: #fff;
	border-bottom: 1px solid #e9e9eb;
}
.search{
	flex: 2;
	background-color: #ccc;
}
.logout{
	flex: 1;
	background-color: #ddd;
}
.conteiner{
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 20px 25px;
}
.middle{
	flex: 2;
	display: flex;
	background-color: #ccc;
}
.left{
	flex: 2;
	background-color: #ccc;
}
.right{
	flex: 1;
	background-color: #cfcfcf;
}
.bottom{
	flex: 1;
	background-color: #ddd;
}
footer{
	height: 38px;
	border-top: 1px solid #e9e9eb;
	background-color: #fff;
}
.copyright{
	line-height: 38px;
}
