body{
	background-color: #f4f4f4;
}
header{
	margin-bottom: 15px;
	background-color: #fff;
}
aside{
	margin-right: 15px;
	background-color: #fff;
}
main{
	background-color: #fff;	
}
footer{
	margin-top: 15px;
	background-color: #fff;
}
.dropdown-item-custom{
	padding: .25rem 1rem;
}